@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup">
                    <div class="screen"></div><img src="@Url.Content("~/Content/Images/Home/iphone.svg")" class="device">
                </div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>OnClick Events App</h1>
                <p>Aritisting your Memories </p>
                <p><a class="btn btn-success btn-lg" role="button" href="#"><span class="fa fa-google"></span> Available on Google Play</a></p>
            </div>
        </div>
    </div>
</div>
<section class="testimonials">
    <h2 class="text-center">People Love It!</h2>
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Famous tech website</footer>
    </blockquote>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Fantastic Features</h2>
                <p>
                    OnClick facilitate you with the Best Venues for your events near your location and providing you the Best Experience ever with in a Limited Budget , OnClick gives you the facility to Book your complete event just by clicking and paying
                    online and do nothing but reaching at the venue on the event day, Yes, OnClick Events will do the work, OnClick also facilitrates you with the runtime Pacakges according to the number of guest and the budget you have, Don't ask
                    , Sign In and sit back while the OnClickEvents work the magic.
                </p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature">
                        <span class="glyphicon glyphicon-euro visible-xs-block visible-sm-block visible-md-block visible-lg-block"></span>
                        <p>OnLine Payment</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <span class="glyphicon glyphicon-qrcode"></span>
                        <p>Secure Transactions</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <span class="glyphicon glyphicon-fire"></span>
                        <p>Event Building</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        @*<div class="jumbotron">
                <h1>ASP.NET</h1>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>*@
